version: "3.7"
services:
  app:
    build: .
    image: git-badges-app
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    restart: always
  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:
