name: Docker Compose Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up .env file
        run: |
          echo "$ENV_FILE" > .env
      - name: Test Docker Compose
        run: |
          # Build and start the app and MongoDB with docker-compose
          docker compose up -d --build
          # Wait for the app to start
          sleep 15
          # Test that the app is running
          curl localhost:8080
          # Stop and remove the containers
          docker compose down
          