name: CD - Deploy to Oracle Cloud Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Add known hosts
        run: ssh-keyscan 129.80.181.137 >> ~/.ssh/known_hosts
      - name: Run compose
        run: ssh ubuntu@129.80.181.137 'cd git-badges-golang && git pull && sudo docker compose up -d'